/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E6E6FA; /* Lavender */
    color: #333; /* Dark Gray */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #800080; /* Dark Magenta */
    margin-bottom: 20px;
}
.home-button {
    display: block;
    margin: 20px auto; /* Center the button */
    padding: 10px 20px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #BA55D3;
}

#posts {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.post:last-child {
    border-bottom: none;
}

.post .date {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
}

.post .content {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #800080;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #BA55D3; /* Medium Orchid */
}
